* {
	font-family: sans-serif;
	/*font-size: 20px*/
}
select {
	text-align-last:center;
}
/* disable number spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  text-align:center;
  -webkit-appearance: none; 
  margin: 0; 
}
textarea {
	width:98%;
	display:block;
	margin: 0 auto;
	resize: none;
}
.nav {
	width:100%;
	height: 116px;
	background-color: #a38a4a;
}
.header {
	width:100%;
	/*border:solid blue 1px;*/
	min-height: 430px;
	background-color: #a38a4a;
	background-image: url('./assets/bell.png');
	background-size: cover;

}
.subheader {
	width:100%;
	/*border:solid blue 1px;*/
	min-height: 150px;
	margin-top:1px;
	/*opacity: 0.09;*/
	background-color: rgba(44,73,10, .09)
	/*border: solid 1px #ddc179;*/
}
.formPage {
	width:100%;
	/*border:solid blue 1px;*/
	min-height:725px;

}
.innerFormPage {
	/*border:solid blue 3px;*/
	width:741px;
	height:100%;
	margin: 0 auto;
	margin-top: 5px;
	/*DELETE MARGIN LATER*/
	margin-bottom: 1px;
}
/* parent for all form lines*/
.parentFormComponent{
	display:flex;
	/*border: solid red 1px;*/
	width:100%;
	height:100px;
}
.buttonContainer {
	display:flex;
	width:100%;
	height: 57px;
	/*border:solid blue 1px;*/
}
.button1 {
	cursor:pointer;
	user-select:none;
	/*border: solid blue 1px;*/
	display:flex;
	flex-direction: column;
	height:100%;
	width:50%;
	box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.16);
	transition:.3s;
	/*align-self: center;*/
}

.button1:hover {
	/*border: solid blue 1px;*/
	width:50%;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
	transition:.3s;
}
.button1 p {
	text-align:center;
}

.button2 {
	cursor:pointer;
	user-select:none;
	display:flex;
	flex-direction: column;
	/*border: solid blue 1px;*/
	width:50%;
	height:100%;
	background-color:#a38a4a;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16);
	transition:.3s;
}
.button2:hover {
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3); 
}
.button2 p {
	text-align:center;
}
/* form div heights */
.short {
	height:45px;
}
.medium {

}
.tall {
	height: 120px;

}



/* form div widths */
.fiftyPercent{
	/*border:solid green 1px;*/
	width:50%;
	height:100%;
	padding-left: 5px;
	padding-right: 5px;
}
.thirdsDiv {
	/*border:solid green 1px;*/
	margin:0 auto;
	height:100%;
	width:33%;
	padding-left: 5px;
	padding-right: 5px;
}
.sixtyPercent {
	/*border:solid green 1px;*/
	height:100%;
	width:60%;
	padding-left: 5px;
	padding-right: 5px;
}
.fourtyPercent {
	/*border:solid green 1px;*/
	height:100%;
	width:40%;
	padding-left: 5px;
	padding-right: 5px;
}
.fullLength {
	width:100%;
	height:100%;
	padding-left: 5px;
	padding-right: 5px;
	/*border: solid green 1px;*/
}
/* input */
textarea, input, button, select { 
	outline: none; 
}

.formInput {
	width: 100%;
	height:default;
	border-left:none;
	border-right:none;
	border-top:none;
	font-size: 16px
}
.sixtyPercentInput {
	width:80%;

}

/* form page 1 */
#companyName {
	width: 100%;
}

/* form page 2 */
.formOption{
	width:100%;
	text-align: center;
}
.formOptionMedium {
	width:40%;
}
.formOptionShort{
	width:15%;
}

/* subheader */
.progressComponent{
	display:flex;
	justify-content: center;
	align-items: center;
	width:500px;
	/*border: solid red 1px;*/
	width:100%;
	min-height:75px;
}
.circle {
	display:flex;
	border:solid #a38a4a 3.9px;
	height: 70px;
	width:70px;
	border-radius:100%;
	justify-content:center;
	align-items:center;
	font-size: 32.6
	/*background-color: #a38a4a;*/
}
.circle p {
	font-size: 36px;
	color:#a38a4a;
}
.line {
	width:220px;
	height: 0px;
	border:solid #d9d9d9 2px;
	border-top:none;

}
.instructions {
	padding-bottom:40px;
}
.instructions p {
	font-size: 24px;
	color: #2c490a;
	letter-spacing:1px;
}

/* subheader 1*/
#circle1_1 {
	background-color: #a38a4a;
}
#circle1_1 p {
	color:white;
}
#tellUsMore {
	margin: 0 auto;
	width:85%;
	text-align: center;
	letter-spacing:1px;
	margin-bottom: 30px;
}
#tellUsMore p {
	font-size: 20px;
	color:#9b9b9b;
}
.bottomMargin {
	margin-bottom:15px;
}

/* subheader 2*/
#circle2_1 p, #circle2_2 p {
	color:white;
}
#circle2_1, #circle2_2  {
	background-color: #a38a4a;
}
/* subheader 3*/
#circle3_1 p, #circle3_2 p, #circle3_3 p {
	color:white;
}
#circle3_1, #circle3_2, #circle3_3 {
	background-color: #a38a4a;
}





/* form page 3 */
